<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere , por favor
</div>
<ng-template #divPais>
   <div class="row">
       <div class="col-12">
           <h1>Pais: <small>{{pais[0].name.common}}</small></h1>
       </div>
   </div>
   <div class="row">
       <div class="col-4">
           <h3>Bandera</h3>
           <img class="img-thumbnail" [src]="pais[0].flags.svg" alt="{{pais[0].name.common}}">
       </div>
       <div class="col">
           <h3>Informacion</h3>
           <ul class="list-group">
                <li class="list-group-item">
                     <strong>Nombre:</strong> {{pais[0].name.common}}
                </li>
                <li class="list-group-item">
                     <strong>Nombre Oficial:</strong> {{pais[0].name.official}}
                </li>
                <li class="list-group-item">
                     <strong>Poblacion:</strong> {{pais[0].population | number}}
                </li>
                <li  class="list-group-item">
                     <strong>Region:</strong> {{pais[0].region}
                </li>
                <li  class="list-group-item">
                    <strong>CCA2:</strong> {{pais[0].cca2}}
               </li>
                <li  class="list-group-item">
                     <strong>CCN3:</strong> {{pais[0].ccn3}}
                </li>
                <li class="list-group-item">
                     <strong>startOfWeek</strong> {{pais[0].startOfWeek}}
                </li>

           </ul>
       </div>
   </div>
   <h3>Traducciones</h3>
   <div class="row">
       <div class="col">
           <span *ngFor="let lenguage of pais[0].translations | keyvalue" class="badge text-bg-primary mx-2">
               {{lenguage.value.common}}
              </span>
       </div>
   </div>
</ng-template>
